<ion-view view-title="Missing Children Minnesota">
    <ion-content>
        <div ng-controller="childProfileListController as cplc">
            <button class="button icon-left ion-chevron-left button-block button-positive" ng-click="cplc.NavigateToPreviousView()">
                Child Profiles
            </button>
        </div>
        <div class="list">
            <div class="item item-icon-left item-button-right" ng-repeat="child in cplc.GetChildList()">
                <i class="ion-android-person" />
                <button class="button button-positive button-block icon-right">
                    {{child.givenName}} {{child.familyName}}
                    <i class="ion-chevron-right" />
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>